@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Oswald&display=swap');

$primary: #003662;
$secondary: #FA9D31;
$info: #2563EB;

@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,700);
$headings-font-family:Oswald;
$display-font-family: Oswald;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

blockquote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    margin: 2rem 0;
}